.buy {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  height: 40px;
  border: 1px solid #00acdc;

  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  border-radius: 5px;
  background-color: #00acdc;

  &:hover {
    background-color: #fff;
    color: #00acdc;
  }
}
