.header {
  padding-inline: 50px;
  box-sizing: border-box;
}

.header__img {
  margin: 10px 0;
  display: flex;
  width: 40px;
  height: 40px;
}

ul {
  display: flex;
  margin: 0;
  padding-left: 0;
}

li {
  font-family: Roboto, sans-serif;
  margin-left: 20px;
  list-style-type: none;
}

li:first-child {
  margin-left: 0;
}

.nav {
  display: inline-block;
  text-align: center;
  color: #060b35;
}
